.jumbotron h1{
    color: red;
    
}

.jumbotron{
    background-color: grey;
} 

.row {
    display: flex;
    flex-wrap: wrap;
}

.red-button:hover, .red-button:active, .red-button:focus {
    background-color:blue;
}

.red-dropdown {
    background-color:red;
    
}

.dropdown-menu > li > a {
    color:white;
}

.btn {
    border-radius: 0;
}

